@mixin hbm-form-field-theme($palettes) {
  $background: map-get($palettes, background);
  $text-color: map-get($background, contrast);

  .mat-form-field {
    &-flex {
      background-color: map-get($background, 500);
      border: 1px solid map-get($background, 900);
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px 20px;

      .mat-form-field-label {
        color: map-get($text-color, 100);
      }
    }

    &-infix {
      border-top-width: 0;
    }

    // &-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float.mat-form-field-label {
    //   transform: translateY(-1em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
    // }

    &-prefix {
      align-self: center;
      margin-right: 8px;
      color: map-get($text-color, 100);
    }
    &-underline {
      display: none;
    }
  }
}
