<mat-toolbar class="job-header">
  <h1>JobMeta</h1>
</mat-toolbar>

<article class="content-wrapper">
  <h5>new</h5>
  <h2>Job</h2>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button type="button" color="primary">
      Choose location from Map
    </button>

    <p class="span-2">Description</p>
    <mat-form-field class="span-2 description-field">
      <textarea
        matInput
        placeholder="Add job description here please"
        rows="7"
      ></textarea>
      <mat-hint>We'll never share your email with anyone else. </mat-hint>
    </mat-form-field>
    <button mat-flat-button type="submit" color="primary" class="span-2 submit-button">Submit</button>
  </form>
</article>
