<mat-toolbar class="job-header">
  <h1>JobMeta</h1>
</mat-toolbar>

<article class="content-wrapper">
  <h5>new</h5>
  <h2>Applicant</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusList" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Job</mat-label>
      <mat-select formControlName="job_id">
        <mat-option *ngFor="let job of jobList$ | async" [value]="job.id">
          {{ job.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-flat-button
      type="button"
      color="primary"
      class="new-job-btn"
      routerLink="/new-job"
    >
      +
    </button>
    <shw-file-uploader class="uploader span-2"></shw-file-uploader>
    <button
      mat-flat-button
      type="submit"
      color="primary"
      class="submit-button span-2"
    >
      Submit
    </button>
  </form>
</article>
