form {
  .new-job-btn {
    place-self: center start;
    padding: 10px 20px;
    min-width: unset;
    line-height: unset;
    margin-bottom: 1.25em;
  }

  .uploader {
    margin: 4vh auto 0;
    width: 80%;

    ::ng-deep .mat-form-field-flex {
      padding: 16px;
    }
  }
}
