<mat-toolbar class="job-header">
  <h1>JobMeta</h1>
  <section class="search-section">
    <mat-form-field class="search-input">
      <mat-label>Search</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="job-list">
      <mat-label>Job</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary"><mat-icon>search</mat-icon></button>
  </section>
  <button mat-flat-button color="primary" routerLink="/new-applicant">
    Add Application
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</mat-toolbar>

<article class="content-wrapper">
  <ng-container *ngIf="{ applicationList: applicationList$ | async } as obs">
    <ng-container *ngIf="obs.applicationList">
      <table mat-table [dataSource]="obs.applicationList.items">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <strong>Name(email)</strong>
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.name }} ({{ row.email }})
          </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef><strong>Phone</strong></th>
          <td mat-cell *matCellDef="let row">{{ row.phone }}</td>
        </ng-container>
        <ng-container matColumnDef="job">
          <th mat-header-cell *matHeaderCellDef><strong>Job</strong></th>
          <td mat-cell *matCellDef="let row">
            {{ row._job.title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef><strong>Status</strong></th>
          <td mat-cell *matCellDef="let row">
            {{ row.status }}
            <button mat-flat-button color="primary">Remove</button>
            <button mat-flat-button color="primary">Download</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
      </table>
      <hbm-custom-paginator
        [length]="obs.applicationList.itemsReceived"
      ></hbm-custom-paginator>
    </ng-container>
  </ng-container>
</article>
