<mat-toolbar>
  <h1>JobMeta</h1>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food">
        {{ food }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-flat-button color="primary"><mat-icon>search</mat-icon></button>
  <button mat-flat-button color="primary" routerLink="/new-applicant">
    Add Application
    <mat-icon>arrow_right_alt</mat-icon>
  </button>
</mat-toolbar>

<table mat-table [dataSource]="applicationList">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef><strong>Name(email)</strong></th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef><strong>Phone</strong></th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>
  <ng-container matColumnDef="job">
    <th mat-header-cell *matHeaderCellDef><strong>Job</strong></th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef><strong>Status</strong></th>
    <td mat-cell *matCellDef="let row"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
